<% content_for :title, "Claim a route" %>

<h1>Claim a Route</h1>

<div class="row">
  <div class="col-sm-4 col-md-2">
    <div class="details small">From:</div>
    <div class="details large"><%= @route.city1.name %></div>
  </div>
  <div class="col-sm-4 col-md-2">
    <div class="details small">To:</div>
    <div class="details large"><%= @route.city2.name %></div>
  </div>
  <div class="col-sm-4 col-md-2">
    <div class="details small">Pieces:</div>
    <div class="details large"><%= @route.pieces %></div>
  </div>
  <div class="col-sm-4 col-md-2">
    <div class="details small">Colour:</div>
    <div class="details large"><%= @route.route_type.colour %></div>
  </div>
</div>

<h3>Pieces to Use</h3>
<%= form_tag game_claim_route_index_path(@game) do |f| %>
  <div class="pieces">
    <%= hidden_field_tag :route_id, @route.id %>
    <% @player.dealt_train_cars.each do |dealt_train_car| %>
      <div class="checkable dealt-train-car">
        <label class="btn">
          <%= image_tag "cards/" + dealt_train_car.train_car_type.name + ".jpg", class: "img-check" %>
          <%= check_box_tag "dealt_train_car_ids[]", dealt_train_car.id, false, class: "hidden" %>
        </label>
      </div>
    <% end %>
  </div>

  <div class="clear">
    <%= link_to "Back", @game, class: "btn btn-default" %>
    <%= submit_tag "Claim Route", class: "btn btn-primary" %>
  </div>
<% end %>
