<% content_for :title, "New Game" %>

<h1>Ticket to Ride</h1>
<h2>New Game</h2>

<%= form_for @game do |f| %>
  <% @player_count.times do |index| %>
    <%=f.fields_for "players" do |players_fields| %>
      <%=players_fields.fields_for "player_#{index}" do |player_fields| %>
        <div>
          <strong><%= "Player #{index + 1}" %></strong>
          <% if flash[:errors]
            field_errors = flash[:errors]["player_#{index}"]
          end
          %>
          <% if field_errors %>
            <br>
            Field errors:<br>
            <%field_errors.each do |field_error| %>
              - <%=field_error %><br>
            <% end %>
          <% end %>
          <%= player_fields.label :name, "Name:" %>
          <%= player_fields.text_field :name %>
          <%= player_fields.label :colour, "Colour:" %>
          <%= player_fields.select :colour, ["Yellow", "Black", "Blue", "Green", "Red"]%>
        </div>
        <br>
      <% end %>
    <% end %>
  <% end %>

  <%= f.submit %>
<% end %>

<%= link_to 'Back', games_path %>
