<% content_for :title, "New Game" %>

<div class="container new-game">
  <h2>New Game</h2>

  <%= bootstrap_form_for @game do |f| %>
    <% if flash[:errors] %>
      <% game_errors = flash[:errors]["game"] %>
    <% end %>
    <% if game_errors %>
      <% game_errors.each do |game_error| %>
        <div class="alert alert-danger" role="alert">
          <%= game_error %>
        </div>
      <% end %>
    <% end %>

    <div class="row">
      <% @player_count.times do |index| %>
        <%=f.fields_for "players" do |players_fields| %>
          <%=players_fields.fields_for "player_#{index}" do |player_fields| %>
            <div class="col-sm-6 col-md-4">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h4><%= "Player #{index + 1}" %></h4>
                  <% if flash[:errors] %>
                    <% field_errors = flash[:errors]["player_#{index}"] %>
                  <% end %>
                  <% if field_errors %>
                    <%field_errors.each do |field_error| %>
                      <div class="alert alert-danger" role="alert">
                        <%= field_error %>
                      </div>
                    <% end %>
                  <% end %>
                  <%= player_fields.text_field :name %>
                  <%= player_fields.select :colour, ["Yellow", "Black", "Blue", "Green", "Red"] %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="btn-group">
      <%= f.submit %>
    </div>
  <% end %>
</div>
