<% content_for :title, "Game" %>

<p id="notice"><%= notice %></p>

<% if flash[:errors] %>
  Errors:
  <% flash[:errors].each do |error| %>
    <div class="error">- <%= error %></div>
  <% end %>
  <br>
<% end %>

<h1><%= "#{@player.name} - #{@player.colour}" %></h1>
<span class="train-piece-count">
  <strong>Train Pieces:</strong> <%= @player.train_pieces %>
</span>
<br>
<span class="score">
  <strong>Score:</strong> <%= @player.score %>
</span>

<h3>My Train Car Cards</h3>
<% @player.dealt_train_cars.each do |dealt_train_car| %>
  <div class="train-car">- <%= render dealt_train_car %></div>
  <br>
<% end %>

<h2>My Turn</h2>
<%= button_to 'Finish turn', game_finish_turn_index_path(@game), disabled: !@game.finished_action %>
<%= button_to 'Draw more cards', game_draw_train_cars_path(@game), disabled: @game.finished_action %>

<br>
<%= link_to 'Back', games_path, action: :get %>

<h3>City Destinations</h3>
<div class="routes">
  <% @all_city_destinations.each do |city| %>
    <div class="route">
      <strong><%= city[:city].name %></strong>
      <% city[:destinations].each do |destination| %>
        <div class="destination">
          City: <%= destination.name %><br>
          Pieces: <%= destination.pieces %><br>
          Colour: <%= destination.colour %><br>
          <% if destination.claimed? %>
            Claimed by <%= destination.claimed_player.name %>
          <% else %>
            <%= form_tag new_game_claim_route_path(@game), method: :get do %>
              <%= hidden_field_tag :route_id, destination.route.id %>
              <%= submit_tag "Claim Route", name: nil, disabled: @game.finished_action %>
            <% end %>
          <% end %>
        </div>
        <br>
      <% end %>
    </div>
  <% end %>
</div>
