<% content_for :title, "Game" %>

<p id="notice"><%= notice %></p>

<% if flash[:errors] %>
  Errors:
  <% flash[:errors].each do |error| %>
    <div class="error">- <%= error %></div>
  <% end %>
  <br>
<% end %>

<h1><%= "#{@player.name} - #{@player.colour}" %></h1>
You have <strong class="train-piece-count"><%= @player.train_pieces %></strong> train pieces

<h3>My Train Car Cards</h3>
<% @player.dealt_train_cars.each do |dealt_train_car| %>
  <div class="train-car">- <%= dealt_train_car.train_car_type.name %></div>
  <br>
<% end %>

<h2>My Turn</h2>
<%= button_to 'Draw more cards', action: :draw_train_cars, id: @game.id %>

<br>
<%= link_to 'Back', games_path, action: :get %>

<h3>Avaliable Routes</h3>
<!-- TODO: Move this to the controller!!! -->
  <!-- TODO: How? If anything, the controller would just be able to pre-fetch everything but it would still have the same or a very similar structure. -->
    <!-- TODO: This may change once routes becomes a proper association. -->
<% City.all.each do |city| %>
  <strong><%= city.name %></strong><br>
  <% city.routes.each do |route| %>
    <div class="avaliable-route">
      City: <%= route.alternate_city(city).name %><br>
      Pieces: <%= route.pieces %><br>
      Colour: <%= route.route_type.colour %><br>
      <% if route.route_claim %>
        Claimed by <%= route.route_claim.player.name %>
      <% else %>
        <%= form_tag new_game_claim_route_path(@game), method: :get do %>
          <%= hidden_field_tag :route_id, route.id %>
          <%= submit_tag "Claim Route", name: nil %>
        <% end %>
      <% end %>
    </div>
    <br>
  <% end %>
<% end %>
