<% content_for :title, "Game" %>

<p id="notice"><%= notice %></p>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% end %>
  <br>
<% end %>

<div class="row">
  <div class="col-sm-4 col-md-2">
    <div class="details small">Name:</div>
    <div class="details large"><%= @player.name %></div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="details small">Colour:</div>
    <div class="details large"><%= @player.colour %></div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="details small">Train Pieces:</div>
    <div class="details large"><%= @player.train_pieces %></div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="details small">Score:</div>
    <div class="details large"><%= @player.score %></div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="game-action-buttons">
      <%= button_to 'Finish turn', game_finish_turn_index_path(@game), class: "btn btn-primary" if @game.finished_action %>
      <%= button_to 'Draw more train cards', game_draw_train_cars_path(@game), class: "btn btn-primary" if !@game.finished_action %>
    </div>
  </div>
</div>

<% @player.dealt_train_cars.each do |dealt_train_car| %>
  <div class="dealt-train-car">
    <%= image_tag("cards/" + dealt_train_car.train_car_type.name + ".jpg") %>
  </div>
<% end %>

<%= render 'games/board' %>
